<div class="row">
    <div class="col-3">
        <app-sidebar-nonmanager *ngIf="!isManager"></app-sidebar-nonmanager>
        <app-sidebar-admin *ngIf="isManager"></app-sidebar-admin>
    </div>
    <div class="col-9">
        <main class="content px-3 py-2">
            <div class="container-fluid">
                <div class="my-3">
                    <h4>Request Leaves</h4>
                </div>
                <div class="row">
                    <form [formGroup]="leaveForm">
                        <div class="mb-3">
                            <label for="fromSlot" class="form-label">From</label>
                            <div class="row">
                                <div class="col-6">
                                    <input type="date" class="form-control" id="startDate" name="startDate"
                                        formControlName="startDate">
                                    <p class="text-danger" *ngIf="leaveForm.controls['startDate']['errors'] 
                                        && leaveForm.controls['startDate'].errors['required']
                                        && leaveForm.controls['startDate'].touched">
                                        Start Date Not Provided</p>
                                </div>
                                <div class="col-6">
                                    <input type="time" class="form-control" id="fromTime" name="fromTime"
                                        formControlName="startTime">
                                    <p class="text-danger" *ngIf="leaveForm.controls['startTime']['errors'] 
                                        && leaveForm.controls['startTime'].errors['required']
                                        && leaveForm.controls['startTime'].touched">
                                        Start Time Not Provided</p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="fromSlot" class="form-label">To</label>
                            <div class="row">
                                <div class="col-6">
                                    <input type="date" class="form-control" id="fromDate" name="fromDate"
                                        formControlName="endDate">
                                    <p class="text-danger" *ngIf="leaveForm.controls['endDate']['errors'] 
                                        && leaveForm.controls['endDate'].errors['required']
                                        && leaveForm.controls['endDate'].touched">
                                        End Date Not Provided</p>
                                </div>
                                <div class="col-6">
                                    <input type="time" class="form-control" id="fromTime" name="fromTime"
                                        formControlName="endTime">
                                    <p class="text-danger" *ngIf="leaveForm.controls['endTime']['errors'] 
                                        && leaveForm.controls['endTime'].errors['required']
                                        && leaveForm.controls['endTime'].touched">
                                        End Time Not Provided</p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="reason" class="form-label">Reason</label>
                            <textarea id="reason" class="form-control" rows="3" formControlName="text"></textarea>
                            <p class="text-danger" *ngIf="leaveForm.controls['text']['errors'] 
                                && leaveForm.controls['text'].errors['required']
                                && leaveForm.controls['text'].touched">
                                Reason Not Provided</p>
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="submitRequest()">Submit</button>
                        <button type="reset" class="btn btn-secondary mx-4" (click)="discardRequest()">Discard</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>