<div class="row">
    <div class="col-3">
        <app-sidebar-nonmanager *ngIf="!isManager"></app-sidebar-nonmanager>
        <app-sidebar-admin *ngIf="isManager"></app-sidebar-admin>
    </div>
    <div class="col-9">
        <div class="container-fluid">
            <div class="mb-3">
                <h4>Manage Overtime Requests</h4>
            </div>
            <ul class="nav nav-tabs" id="leaveTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pending-tab" data-bs-toggle="tab" data-bs-target="#pending" type="button" role="tab" aria-controls="pending" aria-selected="true">Pending</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="approved-tab" data-bs-toggle="tab" data-bs-target="#approved" type="button" role="tab" aria-controls="approved" aria-selected="false">Approved</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="rejected-tab" data-bs-toggle="tab" data-bs-target="#rejected" type="button" role="tab" aria-controls="rejected" aria-selected="false">Rejected</button>
                </li>
            </ul>
            <div class="tab-content" id="leaveTabsContent">
                <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th>Request Id</th>
                                <th>Date</th>
                                <th>Employee</th>
                                <th>Reason</th>
                                <th>From</th>
                                <th>To</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let request of pendingList" data-bs-toggle="modal" data-bs-target="#leaveDetailsModal">
                                <td>{{request.requestId}}</td>
                                <td>{{request.date}}</td>
                                <td>{{request.employee.firstName}} {{request.employee.lastName}}</td>
                                <td>{{request.text}}</td>
                                <td>{{request.startTime}}</td>
                                <td>{{request.endTime}}</td>
                                <td><button class="btn btn-outline-success" (click)="aproveRequest(request.requestId)">Approve</button></td>
                                <td><button class="btn btn-outline-danger" (click)="rejectRequest(request.requestId)">Reject</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="approved" role="tabpanel" aria-labelledby="approved-tab">
                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th>Request Id</th>
                                <th>Date</th>
                                <th>Employee</th>
                                <th>Reason</th>
                                <th>From</th>
                                <th>To</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let request of approvedList" data-bs-toggle="modal" data-bs-target="#leaveDetailsModal">
                                <td>{{request.requestId}}</td>
                                <td>{{request.date}}</td>
                                <td>{{request.employee.firstName}} {{request.employee.lastName}}</td>
                                <td>{{request.text}}</td>
                                <td>{{request.startTime}}</td>
                                <td>{{request.endTime}}</td>
                                <td><button class="btn btn-outline-danger" (click)="rejectRequest(request.requestId)">Reject</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="rejected" role="tabpanel" aria-labelledby="rejected-tab">
                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th>Request Id</th>
                                <th>Date</th>
                                <th>Employee</th>
                                <th>Reason</th>
                                <th>From</th>
                                <th>To</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let request of rejectedList" data-bs-toggle="modal" data-bs-target="#leaveDetailsModal">
                                <td>{{request.requestId}}</td>
                                <td>{{request.date}}</td>
                                <td>{{request.employee.firstName}} {{request.employee.lastName}}</td>
                                <td>{{request.text}}</td>
                                <td>{{request.startTime}}</td>
                                <td>{{request.endTime}}</td>
                                <td><button class="btn btn-outline-success" (click)="aproveRequest(request.requestId)">Approve</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    