<div class="row">
    <div class="col-3">
        <app-sidebar-nonmanager *ngIf="!isManager"></app-sidebar-nonmanager>
        <app-sidebar-admin *ngIf="isManager"></app-sidebar-admin>
    </div>
    <div class="col-9">
        <div class="container">
            <div *ngFor="let message of messages" class="message" id="message-152">
                <div class="message-header">
                    <span class="message-date">{{message.date}}</span>
                    <span class="message-time">{{message.time}}</span>
                </div>
                <div class="message-text">
                    {{message.text}}
                </div>
            </div>
        </div>
    </div>
</div>
