<aside id="sidebar" class="js-sidebar min-vh-100 position-fixed">
  <div class="h-100 d-flex flex-column">
    <!-- Logo at the top -->
    <div class="sidebar-logo">
      <a routerLink="/dashboard">
        Employee Management System
      </a>
    </div>

    <!-- Main navigation (will expand to fill space) -->
    <ul class="sidebar-nav flex-grow-1">
      <li class="sidebar-item" *ngFor="let item of selectedSidebarItems">
        <ng-container *ngIf="!item.separator">
          <a [routerLink]="item.link" class="sidebar-link">
            <i class="bi" [ngClass]="item.icon+ ' pe-2'"></i>
            {{ item.label }}
          </a>
        </ng-container>
        <hr *ngIf="item.separator">
      </li>
    </ul>

    <!-- Logout at the bottom -->
    <ul class="sidebar-nav mt-auto mb-2">
      <li class="sidebar-item">
        <a class="sidebar-link" (click)="logout()">
          <i class="bi bi-box-arrow-right pe-2"></i>
          Logout
        </a>
      </li>
    </ul>
  </div>
</aside>
